body {
    background: rgb(218, 218, 218);
    font-size: 16px;
    font-family: sans-serif;
    border: 2px outset rgb(3, 61, 3);
}


    .Flowers {
        border: 5px outset rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .Right {
        text-align: left;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        font-weight: Bold;
        font-size: large;
        border: 3px outset rgb(255, 255, 255);
        background-color: rgb(173, 240, 179);
    }
    nav ul li {
        /*display: inline;*/
        margin-right: 1em;
    }

    .Nav {
        text-align: center;
        border: 5px outset white;
    }
    

    h1 {
        text-align: center;
        border: 10px outset white;
    }
    h3 {
        font-weight: bolder;
    }

    .Text {
        text-align: center;
    }
    .RightP {
        text-align: left;
        font-size: small;
    }
    footer {
        text-align: center;
    }
    ul {
        font-style: italic;
    }



    @media screen and (min-width: 414px) and (max-width: 1980) {
        body {
            background-color: rgb(211, 222, 231);
            justify-content: center;
        }



       